<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="/css/navigation.css">
</head>
<div class="container3">
    <nav class="mb-5" style="background-color: #f0f0f0;">
        <ul id="links">
            <li class="active">
                <a href="/main">Home</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/addproject">Add Project</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</div>
<body>

  <div class="container">
        <!-- Content here -->
        <div id="Display mx-auto text-center mb-5">
          <img src="/logo.jpeg" alt="" class="main-logo">
        </div>
        <% for ( let i=0; i < (projects.length*1/3);  i++ ) { %>
            <div class="row">
              <div id="text1">
               <div class="col">
                 <a href="/singleProject/<%= projects[i].id%>">
                  <%= projects[i].projectName %>
                  <img id="<%= projects[i].id%>" src="<%= projects[i].image %>" alt="">
                  <br>
                  <p class="lead"><%= projects[i].description%></p>
                 </a>
               </div>
              </div>
            </div>
        <% } %>
                <script src="/js/main.js"></script>
  </div>
</body>
</html>