<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Devlus | Signup</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="/css/main.css">
   <link rel="stylesheet" href="/css/navigation.css">
</head>
<div class="container3">
    <nav class="mb-5" style="background-color: #f0f0f0;">
        <ul id="links">
            <li>
                <a href="/main">Home</a>
            </li>
            <li class="active">
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a href="/addproject">Add Project</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </nav>
</div>
<body>


   <div class="container2">
       <!-- <a href="https://placeholder.com"></a> -->
       <div class="row">
         <div class="col">
           <img src="<%= currentUser.photos[0].value %>" alt="Placeholder" height="mx-auto" width="mx-auto">
         </div>
         <div class="col">
           <p><%= currentUser.username %></p>
           <p><%= currentUser.displayName %></p>
           <p><%= currentUser._json.location%></p>
           <p><%= currentUser.profileUrl%></p>
         </div>
       </div>
       <div class="desc">
       </div>
       <div class="profile21">
           <h1>Previous Projects</h1>
       </div>
       <div class="ProjectSaved">
           <div class="row">
             <div class="col-sm">
               <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
             </div>
             <div class="col-sm">
               <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
             </div>
             <div class="col-sm">
               <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
             </div>
           </div>
         </div>
       <!-- <div id="saved projects">
       </div> -->
   </div>
  
</body>
</html>