<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Devlus | Signup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="container">
        <a href="https://placeholder.com"><img src="<%= currentUser.photos[0].value %>" alt="Placeholder"></a>
        <div class="desc">
            <p><%= currentUser.username %></p>
            <p><%= currentUser.displayName %></p>
            <p><%= currentUser._json.location%></p>
            <p><%= currentUser.profileUrl%></p>
        </div>  
        <div class="profile21">
            <h1>Saved Projects</h1>
        </div>
        <div class="ProjectSaved">
            <div class="row">
              <div class="col-sm">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
              </div>
              <div class="col-sm">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
              </div>
              <div class="col-sm">
                <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
              </div>
            </div>
          </div>
        <!-- <div id="saved projects">
        
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block" alt="Placeholder"></a>
        <a href="https://placeholder.com"><img src="https://via.placeholder.com/150" class="rounded mx-auto d-block"alt="Placeholder"></a>
        </div> -->
    </div>
</body>
</html>